/* Dark Mode CSS */

body {
    background-color: black;
}

.band-name {
    color: whitesmoke;
}

.foot {
    color: whitesmoke;
}

.page {
    border: 5px solid rgb(155, 152, 152);
}

